{% extends 'partials/admin/body.html' %}
{% block contenido %}


  <!-- Info boxes -->
  <div class="row">
    
<div class="col-12 col-sm-6 col-md-4">
  <div class="info-box">
    <span class="info-box-icon bg-info elevation-1">
    
    </span>

    <div class="info-box-content">
      <a href="#" class="nav-link">
        <span class="info-box-text">Usuarios</span>
        <span class="info-box-number">{{ usuarios_cantidad }}</span>
      </a>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>

    <!-- /.col -->
  
 <div class="col-12 col-sm-6 col-md-4">
  <div class="info-box mb-3">
    <span class="info-box-icon bg-danger elevation-1">
      
    </span>

    <div class="info-box-content">
      <a href="#" class="nav-link">
        <span class="info-box-text">Tiendas</span>
        <span class="info-box-number">{{ horas_cantidad }}</span>
      </a>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>

</a>

    <!-- /.col -->

    <div class="col-12 col-sm-6 col-md-4">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Productos</span>
          <span class="info-box-number">{{ anuncios_cantidad }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- <canvas id="Chart-anuncios"></canvas> -->
</div>
</div> 







<canvas id="Chart-Usuarios" width="400" height="200"></canvas>
{% endblock %}