<div class="col-md-3" style="position: relative;">
    <div class="card h-100">
        <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid mx-auto d-block p-2" alt="Imagen de producto">
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <p class="card-text"><strong>{{producto.Precio}}</strong></p>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
    </div>
</div>


