<footer id="footer" class="footer text-center py-3  ">
    <div class="social-icons">
        <a href="https://www.facebook.com/aviones.escala.2025"><i class="fab fa-facebook"></i></a>
        <a href="https://wa.me/573202109787"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/avionesescalacolmbia/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@2024aviones"><i class="fa-brands fa-tiktok"></i></a>
        <a href="mailto:avecbm2024@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
    <p>Todos los derechos reservados @ Aviones a Escala de Colombia</p>
</footer>