{% extends 'partials/admin/body.html' %}
{% load bootstrap_icons %}

{% block contenido %}
<div class="container-fluid row m-4">

  {% include 'partials/CRUD/crear.html' %}

  <div class="card rounded col-md-8 p-3 mx-4">
    <table class="table table-bordered w-100">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>URL</th>
          <th>Imagen</th>
          <th>Prioridad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for slider in sliders %}
        <tr>
          <td>{{ slider.nombre }}</td>
          <td>{{ slider.descripcion }}</td>
          <td>{{ slider.url }}</td>
          <td>
            <img src="{{ slider.imagen.url }}" style="max-height:80px;">
          </td>
          <td>{{ slider.prioridad }}</td>
          <td>
            <a href="{% url 'editar_slider' slider.id %}" class="btn btn-sm btn-primary">
              Editar {% bs_icon 'pencil' %}
            </a>

            <button class="btn btn-sm btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEliminar{{ slider.id }}">
              Eliminar {% bs_icon 'trash' %}
            </button>
          </td>
        </tr>

        {% include 'partials/CRUD/eliminar.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
